/* write page */
.w-md-editor-text-pre > code,
.w-md-editor-text-input {
  font-size: 18px !important;
  line-height: 22px !important;
}

.w-md-editor-toolbar li > button {
  height: 40px;
  vertical-align: middle;
}

.w-md-editor-toolbar svg {
  margin-left: 0.45rem;
  margin-right: 0.45rem;
}

.w-md-editor-toolbar {
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.w-md-editor-toolbar-divider {
  height: 40px;
  margin: 0 5px 0 5px !important;
}

.wmde-edit .w-md-editor-text {
  padding-top: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.wmde-edit textarea::placeholder {
  font-style: italic;
  font-size: 18px;
}

.wmde-preview ul {
  display: block;
  list-style-type: disc;
}

.wmde-preview ol {
  display: block;
  list-style-type: decimal;
}

.w-md-editor-content {
  margin-left: -3rem;
  margin-right: -3rem;
}

.wmde-markdown {
  font-size: 18px;
}

.wmde-markdown hr {
  height: 1px;
}

.wmde-markdown ol {
  list-style-type: decimal;
}

/* .wmde-markdown > p > img {
  margin-top: 48px;
  margin-bottom: 48px;
} */

.w-md-editor-toolbar-child .w-md-editor-toolbar ul > li button {
  padding: 0.25em 4px;
}

[data-color-mode*="dark"] .wmde-markdown-var,
[data-color-mode*="dark"] .wmde-markdown {
  --color-fg-default: #f4f4f4 !important;
  --color-fg-muted: #8b949e !important;
  --color-fg-subtle: #484f58 !important;
  --color-canvas-default: #242021 !important;
  --color-canvas-subtle: #161b22 !important;
  /* --color-border-default: #30363d !important;
  --color-border-muted: #21262d !important; */
  --color-border-default: #30363d !important;
  --color-border-muted: #21262d !important;
}

[data-color-mode*="light"] .wmde-markdown-var,
[data-color-mode*="light"] .wmde-markdown {
  --color-fg-default: #242021 !important;
  --color-fg-muted: #57606a !important;
  --color-fg-subtle: #6e7781 !important;
  --color-canvas-default: #f4f4f4 !important;
  --color-canvas-subtle: #f6f8fa !important;
  --color-border-default: #d0d7de !important;
  --color-border-muted: hsl(210, 18%, 87%) !important;
}
