@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body,
div#__next {
  height: 100%;
}

div#__next {
  display: flex;
  flex-direction: column;
}

.default-width {
  @apply mx-auto w-full px-4 first:w-firstScreenWidth first:px-0 second:w-secondScreenWidth second:px-0 third:w-thirdScreenWidth third:px-0;
}

.flex-center {
  @apply flex items-center justify-center;
}

.full-page {
  @apply fixed top-0 bottom-0 left-0 right-0;
}

.text-base-color {
  @apply text-black dark:text-white;
}

.bg-base-color {
  @apply bg-white dark:bg-black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "helsinki";
  src: url("../public/font/helsinki-webfont.woff");
}

.font-helsinki {
  font-family: "helsinki";
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/* markdown-------------------------------------------------------------------- */

/* .wmde-markdown pre > code {
  white-space: normal;
} */

.wmde-markdown blockquote {
  @apply my-10 rounded-md border-l-point bg-neutral-200 py-6 text-black dark:bg-grey1 dark:text-white;
}

.wmde-markdown p {
  @apply whitespace-pre-line;
}

.wmde-markdown h2 {
  @apply mt-12 mb-6 border-b-neutral-500 border-opacity-30 dark:border-b-neutral-700;
}

.wmde-markdown a {
  @apply text-point;
}
